{% extends "base.html" %}
{% block start %}
<div class="container-fluid px-3">
    <div class="row min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
            <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
                <h3 class ="card-title text-center">we have sent email to you</h3>
                <div class =" card-text text-center">Please check your mail</div>
                
            <!-- Image-->
            <div class="bg-cover h-100 mr-n3"
                style="background-image: url(https://images.pexels.com/photos/1995730/pexels-photo-1995730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
            </div>
        </div>
    </div>
</div>



{% endblock %}